body {
  background-color: #9df3c4
}

.py-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.table-leaderboard {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1fab89;
  text-align: center;
}

#first{
  background-color: #ebee50;
}

#second{
  background-color: #a6d1d6;
}

#third {
  background-color: #c98b3b;
}

#info {
  background-color: #808080;
}
