body {
  background-color: #9df3c4
}

.py-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1fab89;
  border: 1px solid #412749;
}


#first .themed-grid-col {
  background-color: #ebee50;
}

#second .themed-grid-col {
  background-color: #a6d1d6;
}

#third .themed-grid-col {
  background-color: #c98b3b;
}

#info .themed-grid-col {
  background-color: #808080;
}
